# Ignore everything by default
*
**

# But include these files
!.gitignore
!README.md
!VERSIONS.md
!project-overview.md
!requirements.txt
!requirements.dev.txt
!requirements.all.txt
!run.py
!sanitize-cli.py
!LICENSE
!.dockerignore
!docker-compose.yaml
!docker-compose.dev.yaml
!Dockerfile
!Dockerfile.dev
!setup.py
!MANIFEST.in
!pyproject.toml
!AGENTS.md
!input/.gitkeep
!output/.gitkeep
!.markdownlint.json

# Include all files in these directories
!nl_entities/
!nl_entities/**
!custom_detectors/
!custom_detectors/**
!custom_entities/
!custom_entities/**
!sanitize_webui/
!sanitize_webui/**
!sanitize_text/
!sanitize_text/**
!tests/
!tests/**
!scripts/
!scripts/**

# Explicitly ignore these
.DS_Store
__pycache__/
*.pyc
.env
venv/
output/
.git/
*.egg-info/
build/
dist/
sanitize_text/models/en_pii_ner/
sanitize_text/models/nl_pii_ner/
