# Ignore everything by default
*
**

# But include these files
!.gitignore
!README.md
!requirements.txt
!run.py
!sanitize-cli.py
!LICENSE
!.dockerignore
!docker-compose.yaml
!Dockerfile

# Include all files in these directories
!nl_entities/
!nl_entities/**
!custom_detectors/
!custom_detectors/**
!custom_entities/
!custom_entities/**
!sanitize_webui/
!sanitize_webui/**

# Explicitly ignore these
.DS_Store
__pycache__/
*.pyc
.env
venv/
output/
tests/
.git/